/* //Lines 1 to 52 is general css for dessert display// */
#oreo-size {
  transform: scale(1.5);
}

h2 {
  padding: 10px;
}

.p-color {
  color: grey;
}

.bottom-format {
  padding: 15px;
  padding-top: 0.5px;
  padding-bottom: 5px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ff8243;
  color: white;
  font-size: 25px;
}

.card {
  background-color: white !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 17.5%;
}

.ImageStyle {
}

.d-format {
  text-align: left;
  line-height: 1.5;
  padding-top: 10.5px;
  padding-left: 10px;
}

.price-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 10px;
  padding-right: 10px;
  padding: 10px; */
  border: none;
  letter-spacing: 0.5px;
  color: #ff8243;
}

/* // Image decorations */

.cake-image {
  padding: 35px;
  background-color: #ffc0cb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cookie-image {
  padding: 35px;
  background-color: #ffd5aa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cupcake-image {
  padding: 35px;
  background-color: #ffed86;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dulce-image {
  padding: 35px;
  background-color: #a2dce7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
